<div class="puissance-wrapper">
  <div class="window-header">
    <h1 class="window-title">Informations generales</h1>
  </div>
  <div class="window-content">
    <p>Index de consommation: <span>{{indexConsommation}}</span></p>
    <p>Index de tarif: <span>{{indexTarif}}</span></p>
    <p>Puissance maximale: <span>{{puissanceMaximale}}</span></p>
  </div>
  <div class="window-footer">
    <div class="form-group">
      <label for="meter_id">ID Compteur</label>
      <input type="text" id="meter_id" [(ngModel)]="meterId">
    </div>
    <button class="window-button" (click)="updateMeterId()">Enregistrer</button>
  </div>
</div>
