@use '../../shared/scss/variable';

.puissance-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  .window-content {
    flex: 1;  
    overflow-y: scroll;
  }

  p,
  h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 1rem;
  }

  p {
    font-size: 13px;
    color: #777;
  }

  .form-group {
    padding-top: 0.5rem;
  }
  
  .new-puissance {
    background-color: #eee;
    padding-left: 1rem;
    span {
      display: inline-block;
      background-color: variable.$color-blue;
      color: white;
      padding: 1rem;
    }
  }
}
