@use '../../scss/variable';

.generic-window-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: variable.$window-heigth;
  min-height: 60vh;
  width: 400px;
  max-width: 100%;
  
  .window-content {
    flex: 1;
    height: 100%;
    border-radius: 8px;
    margin-right: 8px;
    background-color: white;
    box-shadow: 1px -2px 24px #0000008a;
  }
  
  .close-button {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background-color: variable.$color-red;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px -2px 24px #0000008a;
    font-size: 1.2em;
  }
  
  .close-button:hover {
    background-color: black;
    color: white;
  }
}

@media (max-width: 800px) {
  .generic-window-wrapper {
    position: relative;
    bottom: -8vh;
  }
}