<div class="historique-wrapper">
  <div class="window-header">
    <button class="active" [routerLink]="['/window', 'historique']">Recharges</button>
    <button [routerLink]="['/window', 'consommation']">Consommations</button>
  </div>
  
  <div class="window-content">
    <div class="recharge" *ngFor="let recharge of recharges">
      <div class="col-left">
        <p>Etat initial: {{recharge.montant/10}} Kw</p>
        <p class="subtitle">{{recharge.token}}</p>
      </div>
      <p>{{getRechargeTimeStamp(recharge)}}</p>
    </div>
  </div>
  
  <div class="window-footer">
    <h2>Consommation total</h2>
    <p>{{totalRecharge / 10}} Kw</p>
  </div>
</div>
