<main>
  <app-blue [onOff]="compteurPower"></app-blue>
  <div class="home-wrapper">
    <div class="main-wrapper">
      <header>
        <button class="window-button" (click)="logout()">Deconnexion</button>
        <button [ngClass]="{ 'icon-button': true, 'hidden': isOpenSidebar }" (click)="openSidebar()"><span class="icon-menu"></span></button> 
      </header>
      <div class="main-container">
        <div class="left-container">
          <router-outlet></router-outlet>
        </div>
        <div class="rigth-container">
          <app-main-menu [off]="compteurPower" (alimentationEvent)="onAlimentationChange($event)"></app-main-menu>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'sidebar-container': true, 'sidebar-close': isOpenSidebar == false }">
      <div class="sidebar-header">
        <button class="icon-button" (click)="closeSidebar()"><span class="icon-cancel-2"></span></button> 
      </div>
      <app-sidebar></app-sidebar>
    </div>
  </div>
</main>
