@use '../../shared/scss/variable';

.window-content {
  padding: 1rem;
  
  .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    input {
      border: 1px solid #ccc;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      transition: 1s;
    }
    
    input:focus {
      outline: none;
      border: 1px solid variable.$color-blue;
    }
    
    label {
      padding-bottom: 0.5rem;
      font-size: 13px;
      color: #777;
    }
  }
}