<div class="recharge-wrapper">
    <div class="window-header">
      <h1 class="window-title">Recharge</h1>
    </div>
    
    <div class="window-content">
      <div class="form-group">
        <label for="montant">Montant</label>
        <input id="montant" [(ngModel)]="montant" type="number" placeholder="Montant en FCFA">
      </div>
      
      <div class="form-group">
        <label for="token">Token de recharge</label>
        <input id="token" [(ngModel)]="token" type="number" placeholder="Token">
      </div>
      
    </div>
    
    <div class="window-footer">
      <button id="recharge-btn" class="window-button" (click)="onRecharge()">Recharger</button>
    </div>  
      
</div>


