@use '../../scss/variable';

section {
  height: 60vh;
  background-color: variable.$color-blue;
  clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 0% 100%);

  header {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      text-transform: uppercase;
      padding: 0.5rem;
      margin: 1rem;
      color: white;
      border-right: 2px solid #fff;
    }

    h2 {
      font-weight: normal;
      padding: 1rem;
    }
  }
}

.off {
  background-color: variable.$color-off;
}

@media (max-width: 600px){
  section {
    header {
      h2 {
        display: none;
      }
      
      h1 {
        border-right: none;
      }
    }
  }
}