@use '../../shared/scss/variable';

.consommation-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
  
  .window-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    flex-wrap: wrap;
    
    button {
      border: 2px solid variable.$color-gray;
      font-size: 13px;
      padding: 0.1rem 1rem;
      border-radius: 30px;
      margin-right: 1rem;
      background-color: transparent;
      margin: 0.5rem;
    }
    
    .active {
      background-color: variable.$color-blue;
      color: white;
      border-color: variable.$color-blue;
    }
  }
}