<div class="main-menu-wrapper">
  <button class="circle-button">
    <span class="icon-power icon"></span>
  </button>
  <div class="square">
    <button [routerLink]="['/window', 'historique']">
      <span class="icon-scroll icon"></span>
      Historique</button>
    <button [routerLink]="['/window', 'recharge']">
      <span class="icon-recycle icon"></span>
      Recharge</button>
    <button [routerLink]="['/window', 'puissance']">
      <span class="icon-energy icon" style="font-weight: bold;"></span>
      Puissance</button>
    <button [routerLink]="['/window', 'geolocalisation']">
      <span class="icon-location icon"></span>
      Geolocalisation</button>
  </div>
</div>
