@use '../../scss/variable';

.compteur-wrapper {
  box-shadow: variable.$shadow;
  border-radius: 8px;
  background-color: white;
  width: 20rem;
  min-height: 20rem;
  max-width: 90vw;
  height: 50vh;
  position: relative;
  bottom: 12vh;

  .unite-container {
    height: 60%;
    background-color: variable.$color-blue;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h1 {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span {
        font-size: 12px;
        font-weight: normal;
      }
    }

    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 99%);
  }

  .compteur-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .more-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
      color: #ccc;
      border-radius: 100px;
      width: 16px;
      height: 16px;
      transition: 0.4s;
    }
    
    .more-btn:hover {
      cursor: pointer;
      color: variable.$color-blue;
      border-color: variable.$color-blue;
    }
    
    p {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      span {
        font-size: 13px;
        font-weight: normal;
        color: #777;
        padding-top: 0.2rem;
      }
    }
  }
}

.compteur-wrapper {
  .off {
    background-color: variable.$color-off;
    h1 {
      display: none;
    }
  }
}

@media (max-width: 750px) {
  .compteur-wrapper {
    bottom: -8vh;
  }
}
