/* You can add global styles to this file, and also import other style files */

@use './app/pages/shared/scss/variable';
@import url(./iconmoon/style.scss);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variable.$font-roboto;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

button {
  transition: 0.4s;
}

button:hover {
  cursor: pointer;
}

.window-title {
  font-size: 18px;
}

.window-content, .window-header, .window-footer {
  padding: 1rem;
}

.window-button {
  background-color: variable.$color-blue;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
}