@use './app/pages/shared/scss/variable';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$orema-mirror-primary: mat-palette($mat-indigo);
$orema-mirror-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$orema-mirror-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$orema-mirror-theme: mat-light-theme((
  color: (
    primary: $orema-mirror-primary,
    accent: $orema-mirror-accent,
    warn: $orema-mirror-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($orema-mirror-theme);

/* You can add global styles to this file, and also import other style files */

@import url(./iconmoon/style.scss);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variable.$font-roboto;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

button {
  transition: 0.4s;
}

button:hover {
  cursor: pointer;
}

.window-title {
  font-size: 18px;
}

.window-content, .window-header, .window-footer {
  padding: 1rem;
}

.window-button {
  background-color: variable.$color-blue;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  input {
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: 1s;
  }
  
  input:focus {
    outline: none;
    border: 1px solid variable.$color-blue;
  }
  
  label {
    padding-bottom: 0.5rem;
    font-size: 13px;
    color: #777;
  }
}

.hidden {
  display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

